*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Poppins", sans-serif;
}

.cabecalho{
    background-color: #dbe6f3;
    color:#150f66;
    display: flex;
    justify-content: space-around;
    padding: 24px 0;
}

.cabecalho-logo{
    width: 5%;
    right: 5%;
}

.cabecalho-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 20px;
}

.escola-imagem{
    width: 20%;

}

.escola{
    background-image: -moz-linear-gradient(#425a80, #435bf2);
    color: rgb(31, 25, 25);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.escola-titulo{
    padding: 24px o;
}

.escola-texto-um{
    padding: 24px 0;
}

.escola-div-conteudo{
    width: 35%;
}